/* ==========================================================================
   SETTINGS / COLORS
   ========================================================================== */

/**
 * This is where the global colors are set.
 * Overrides should be placed in the 'themes.css' file.
 */

:root {
	--color-red: #c8102e;
	--color-yellow: #f9ed1f;
	--color-blue: #003b6f;
	--color-green: #009a44;
	--color-black: #0f0f0f;
	--color-gray-50: #222;
	--color-gray-40: #707070;
	--color-gray-30: #9f9f9f;
	--color-gray-20: #c0c0c0;
	--color-gray-10: #eaeaea;
	--color-white: #fff;
	--color-transparent: rgba(0, 0, 0, 0);
	--color-hover-alpha: 0.8;
	
	/**
	 * This section sets default theme for the project so the variables exist.
	 */
	--color-body-copy: #4a4a4a;
	--color-primary: #3d70b2;
	--color-secondary: #5aaafa;
	--color-tertiary: #008571;
	--color-highlight: #f9ed1f;
	--color-accent: #3cc;
	--color-error: #c8102e;
	--color-info: #003b6f;
	--color-success: #009a44;
	--color-warning: #f9ed1f;
	
	/**
	 * This section sets shading and tinting variables to be used for events,
	 * like hover, for the project.
	 */
	--color-red--shaded: #a00c24;
	--color-red--tinted: #d44058;
	--color-yellow--shaded: #c7bd19;
	--color-yellow--tinted: #fbf14b;
	--color-blue--shaded: #002f59;
	--color-blue--tinted: #34638b;
	--color-green--shaded: #007c36;
	--color-green--tinted: #34ae6a;
	--color-black--tinted: #3f3f3f;
	--color-gray-50--tinted: #4e4e4e;
	--color-gray-40--shaded: #5a5a5a;
	--color-gray-40--tinted: #8c8c8c;
	--color-gray-30--shaded: #7f7f7f;
	--color-gray-30--tinted: #b3b3b3;
	--color-gray-20--shaded: #9a9a9a;
	--color-gray-20--tinted: #ccc;
	--color-gray-10--shaded: #bcbcbc;
	--color-white--shaded: #cbcbcb;
	--color-primary--shaded: #315a8e;
	--color-primary--tinted: #638cc2;
	--color-secondary--shaded: #4888c8;
	--color-secondary--tinted: #7cbcfc;
	--color-tertiary--shaded: #006b5b;
	--color-tertiary--tinted: #349d8d;
	--color-highlight--shaded: #c7bd19;
	--color-highlight--tinted: #fbf14b;
	--color-accent--shaded: #29a4a4;
	--color-accent--tinted: #5bd6d6;
}
