/* ==========================================================================
   SETTINGS / TYPOGRAPHY
   ========================================================================== */

/**
 * This is where the global typography measurements are set. Overrides should be
 * placed in the 'themes.css' file.
 */

:root {
	--min-font-scale: 1.2; /* Minor Third Font Scale */
	--max-font-scale: 1.333; /* Perfect Fourth Font Scale */
	--min-line-height: 1.5;
	--max-line-height: 1.8;
	
	/* Editing below this point is not recommended */
	
	--base-line-height: 1.5;
	--screen-compensation: calc((100vw - (640 * 1px) ) / (960 - 640));
	--alpha-min: calc((((16 * 1.2) * 1.2) * 1.2) * 1.2);
	--alpha-max: calc((((16 * 1.333) * 1.333) * 1.333) * 1.333);
	--bravo-min: calc(((16 * 1.2) * 1.2) * 1.2);
	--bravo-max: calc(((16 * 1.333) * 1.333) * 1.333);
	--charlie-min: calc((16 * 1.2) * 1.2);
	--charlie-max: calc((16 * 1.333) * 1.333);
	--delta-min: calc(16 * 1.2);
	--delta-max: calc(16 * 1.333);
	--foxtrot-min: calc(16 / 1.2);
	--foxtrot-max: calc(16 / 1.333);

	--heading-alpha-min: calc((((16px * 1.2) * 1.2) * 1.2) * 1.2);
	--heading-alpha-max: calc((((16px * 1.333) * 1.333) * 1.333) * 1.333);
	--heading-alpha-fluid: calc(((((16px * 1.2) * 1.2) * 1.2) * 1.2) + (((((16 * 1.333) * 1.333) * 1.333) * 1.333) - ((((16 * 1.2) * 1.2) * 1.2) * 1.2)) * ((100vw - (640 * 1px) ) / (960 - 640)));
	--heading-bravo-min: calc(((16px * 1.2) * 1.2) * 1.2);
	--heading-bravo-max: calc(((16px * 1.333) * 1.333) * 1.333);
	--heading-bravo-fluid: calc((((16px * 1.2) * 1.2) * 1.2) + ((((16 * 1.333) * 1.333) * 1.333) - (((16 * 1.2) * 1.2) * 1.2)) * ((100vw - (640 * 1px) ) / (960 - 640)));
	--heading-charlie-min: calc((16px * 1.2) * 1.2);
	--heading-charlie-max: calc((16px * 1.333) * 1.333);
	--heading-charlie-fluid: calc(((16px * 1.2) * 1.2) + (((16 * 1.333) * 1.333) - ((16 * 1.2) * 1.2)) * ((100vw - (640 * 1px) ) / (960 - 640)));
	--heading-delta-min: calc(16px * 1.2);
	--heading-delta-max: calc(16px * 1.333);
	--heading-delta-fluid: calc((16px * 1.2) + ((16 * 1.333) - (16 * 1.2)) * ((100vw - (640 * 1px) ) / (960 - 640)));
	--heading-echo-min: 16px;
	--heading-echo-max: 16px;
	--heading-echo-fluid: calc(16px * ((100vw - (640 * 1px) ) / (960 - 640)));
	--heading-foxtrot-min: calc(16px / 1.2);
	--heading-foxtrot-max: calc(16px / 1.333);
	--heading-foxtrot-fluid: calc((16px / 1.2) + ((16 / 1.333) - (16 / 1.2)) * ((100vw - (640 * 1px) ) / (960 - 640)));
}

@media (min-width: 40em) {
	:root {
		/*--base-line-height: calc(1.5 * 1.1em + (1.8 - 1.5) * ((100vw - (640 * 1px)) / (960 - 640)));*/
		--base-line-height: calc((1.5 + 1.8) / 2);
	}
}

@media (min-width: 60em) {
	:root {
		--base-line-height: 1.8;
	}
}
